In [1]:

'''
def master_add_2(column, listname = []): 
    #premise: not adding the values, but the position in the ranking   
    global value
    print column, listname
    
    for country in countries:
        try:
            if country in listname['Country']: #this is wrong
                value = listname[['Country']==country].index.item() #some names not in there
                #value = listname[listname['Country']==country].index.item()
                real_val = listname.at[value, column] # 
                value+=1
        except:
                value = 404 #bc not found
        
        m_val = master[master['Country'] == country].index.item()   #not in the try block bc master has all the countries
        master.at[m_val, column] = value # real_val

''' 


#goal: have a table that looks like this
#how to 
'''
|country|first_idx|second_idx|third_idx|

switzerland 1       13         12



////

then incorporate weights



tables DONE:
* salary (242) (biggest list - treated as master)
* safety (163); 92 404s? need to inspect
* life expectancy (183)
* days off (194)

to-do:


------Q------

need to do manual inspection for some countries (e.g. safety - Luxembourg)



----Notes----
NaN replaced with 404

SyntaxError: EOF while scanning triple-quoted string literal (<ipython-input-1-b2a8c89206fe>, line 33)

In [ ]:
#should the profession script be run here?

In [17]:
import pandas as pd

#salaries + initial master array setup
categories = []
sal = pd.read_csv("salary.csv", delimiter = ';', header = None, index_col = False)
sal.rename(columns = {0: 'salary idx', 1: 'Country', 2: 'Salary', 3: 'Currency', 4: 'Salary[USD]'}, inplace = True)
sal.sort_values(by = 'Salary[USD]', ascending = False, inplace = True)
sal.reset_index(drop=True, inplace=True)  
sal.tail()
sal.dropna(inplace = True)
categories.append("Salary")

countries = []
column_list = []
invalid_names = []
for country in sal['Country']:
    countries.append(country) #should it be encoded somehow?

master = pd.DataFrame(columns = ["Country", "Salary", "Safety", "Life Expectancy", "Days Off"])
master.head()
master["Country"] = countries

master.head()


#sal.drop(['NaN'])

AttributeError: 'NoneType' object has no attribute 'encode'

In [15]:
#old
def master_add(column, listname = []): 
    #premise: not adding the values, but the position in the ranking    
    #print column, listname
    
    print listname[listname['Country']] #not found
    
    for country in countries:
        try:
            value = listname[listname['Country']==country].index.item() #some names not in there
            print "fetching country: " + country + " value: " + value
            real_val = listname.at[value, column] 
            value+=1
        except: #Country not found (idk why it does it for all countries)
            print "value for " + country + " not found"
            value = 404 #bc not found
        
        m_val = master[master['Country'] == country].index.item()   #not in the try block bc master has all the countries
        master.at[m_val, column] = value # real_val

In [3]:
#master[master["Country"] == "Korea (South)"] # = "South Korea"
def replace_name(name1, name2): 
        value = master[master["Country"] == name1].index.item()
        master.at[value, "Country"] = name2
        countries[countries.index(name1)] = name2

In [16]:
master_add("Salary", sal) #adding this one first because it has different names than the rest

KeyError: u"None of [Index([u'Switzerland', u'United States', u'Denmark', u'Japan', u'Luxembourg',\n       u'Singapore', u'Norway', u'Hong Kong', u'United Kingdom',\n       u'New Zealand',\n       ...\n       u'El Salvador', u'Micronesia', u'East Timor', u'Ecuador', u'Zimbabwe',\n       u'American Samoa', u'Palau', u'Palestine', u'Virgin Islands (British)',\n       u'Virgin Islands (US)'],\n      dtype='object', length=242)] are in the [columns]"

In [20]:
value = days_off[days_off['Country']=="Poland"].index.item() #some names not in there
print value

49

In [17]:
#Safety - already sorted
saf = pd.read_csv("scrapers/safety.csv", delimiter = ';', header = None, index_col = False)
saf.rename(columns = {0: 'Safety', 1: 'Country', 2: 'Score'}, inplace = True)
saf.drop(columns = "Score", axis = 1, inplace = True)
categories.append("Safety")


#saf.head()



#Life Expectancy - already sorted
life_exp = pd.read_csv("scrapers/life-exp.csv", delimiter = ';', header = None, index_col = False)
life_exp.rename(columns = {0: 'Life Expectancy', 1: 'Country', 2: 'Predicted Score'}, inplace = True)
life_exp.drop(columns = "Predicted Score", inplace = True)
categories.append("Life Expectancy")
#life_exp.head()


#Days Off - unsorted
days_off = pd.read_csv("scrapers/days_off.csv", delimiter = ';', header = None, index_col = False)
days_off.sort_values(by = 2, ascending = False, inplace = True)
days_off.reset_index(drop=True, inplace=True)  
days_off.drop(columns = 0, inplace = True)
days_off.rename(columns = {1: 'Country', 2: 'Days Off'}, inplace = True)
categories.append("Days Off")


#days_off.head()

len(days_off)

194

In [6]:
replace_name("Korea (South)", "South Korea")
replace_name("Korea (North)", "North Korea")
replace_name("Cote Divoire", "Ivory Coast")
#replace_name("Congo Democratic Republic", "Congo")


#countries[countries.index("Korea (South)")] == "South Korea"

#this is causing issues idk why, if you run this before master_add then 2 last categories will be NaN

#countries

In [22]:
#issues here - not working as expected
master_add("Safety", saf)

#are nan's dropped?

Safety      Safety                           Country
0         1                           Iceland
1         2                       New Zealand
2         3                          Portugal
3         4                           Austria
4         5                           Denmark
5         6                            Canada
6         7                         Singapore
7         8                          Slovenia
8         9                             Japan
9        10                       Switzerland
10       11                           Czechia
11       12                           Ireland
12       13                         Australia
13       14                           Finland
14       15                            Bhutan
15       16                          Malaysia
16       17                       Netherlands
17       18                           Belgium
18       19                            Sweden
19       20                            Norway
20       21                           Hungary
21       22                           Germany
22       23                          Slovakia
23       24                           Romania
24       25                         Mauritius
25       26                          Bulgaria
26       27                             Chile
27       28                           Croatia
28       29                            Poland
29       30                          Botswana
..      ...                               ...
133     134                       Philippines
134     135                           Burundi
135     136                             Egypt
136     137                              Chad
137     138                          Cameroon
138     139                              Iran
139     140                            Mexico
140     141                             India
141     142                         Palestine
142     143                          Colombia
143     144                         Venezuela
144     145                              Mali
145     146                            Israel
146     147                           Lebanon
147     148                           Nigeria
148     149                             Sudan
149     150                           Ukraine
150     151                       North Korea
151     152                            Turkey
152     153                          Pakistan
153     154                            Russia
154     155  Democratic Republic of the Congo
155     156                             Libya
156     157          Central African Republic
157     158                       Afghanistan
158     159                              Iraq
159     160                             Yemen
160     161                             Syria
161     162                       South Sudan
162     163                           Somalia

[163 rows x 2 columns]
value not found
value not found
value not found
value not found
value not found
value not found
value not found
value not found
value not found
value not found
value not found
value not found
value not found
value not found
value not found
value not found
value not found
value not found
value not found
value not found
value not found
value not found
value not found
value not found
value not found
value not found
value not found
value not found
value not found
value not found
value not found
value not found
value not found
value not found
value not found
value not found
value not found
value not found
value not found
value not found
value not found
value not found
value not found
value not found
value not found
value not found
value not found
value not found
value not found
value not found
value not found
value not found
value not found
value not found
value not found
value not found
value not found
value not found
value not found
value not found
value not found
value not found
value not found
value not found
value not found
value not found
value not found
value not found
value not found
value not found
value not found
value not found
value not found
value not found
value not found
value not found
value not found
value not found
value not found
value not found
value not found
value not found
value not found
value not found
value not found
value not found
value not found
value not found
value not found
value not found
value not found
value not found
value not found
value not found
value not found
value not found
value not found
value not found
value not found
value not found
value not found
value not found
value not found
value not found
value not found
value not found
value not found
value not found
value not found
value not found
value not found
value not found
value not found
value not found
value not found
value not found
value not found
value not found
value not found
value not found
value not found
value not found
value not found
value not found
value not found
value not found
value not found
value not found
value not found
value not found
value not found
value not found
value not found
value not found
value not found
value not found
value not found
value not found
value not found
value not found
value not found
value not found
value not found
value not found
value not found
value not found
value not found
value not found
value not found
value not found
value not found
value not found
value not found
value not found
value not found
value not found
value not found
value not found
value not found
value not found
value not found
value not found
value not found
value not found
value not found
value not found
value not found
value not found
value not found
value not found
value not found
value not found
value not found
value not found
value not found
value not found
value not found
value not found
value not found
value not found
value not found
value not found
value not found
value not found
value not found
value not found
value not found
value not found
value not found
value not found
value not found
value not found
value not found
value not found
value not found
value not found
value not found
value not found
value not found
value not found
value not found
value not found
value not found
value not found
value not found
value not found
value not found
value not found
value not found
value not found
value not found
value not found
value not found
value not found
value not found
value not found
value not found
value not found
value not found
value not found
value not found
value not found
value not found
value not found
value not found
value not found
value not found
value not found
value not found
value not found
value not found
value not found
value not found
value not found
value not found
value not found
value not found
value not found
value not found
value not found
value not found
value not found

In [10]:
master_add("Life Expectancy", life_exp)

Life Expectancy      Life Expectancy                   Country
0                  1                     Japan
1                  2               Switzerland
2                  3                 Singapore
3                  4                 Australia
4                  5                     Spain
5                  6                   Iceland
6                  7                     Italy
7                  8                    Israel
8                  9                    Sweden
9                 10                    France
10                11               South Korea
11                12                    Canada
12                13                Luxembourg
13                14               Netherlands
14                15                    Norway
15                16                     Malta
16                17               New Zealand
17                18                   Austria
18                19                   Ireland
19                20            United Kingdom
20                21                   Belgium
21                22                   Finland
22                23                  Portugal
23                24                   Germany
24                25                    Greece
25                26                  Slovenia
26                27                   Denmark
27                28                    Cyprus
28                29                     Chile
29                30                Costa Rica
..               ...                       ...
153              154                    Uganda
154              155                     Niger
155              156                  Tanzania
156              157                    Zambia
157              158                   Liberia
158              159                    Gambia
159              160                  Zimbabwe
160              161               Afghanistan
161              162                     Benin
162              163              Burkina Faso
163              164                      Togo
164              165                  DR Congo
165              166                   Burundi
166              167                    Guinea
167              168             Guinea-Bissau
168              169      Eswatini (Swaziland)
169              170                    Malawi
170              171                      Mali
171              172         Equatorial Guinea
172              173                Mozambique
173              174               South Sudan
174              175                  Cameroon
175              176                   Somalia
176              177                   Nigeria
177              178                   Lesotho
178              179             Cote d'Ivoire
179              180                      Chad
180              181  Central African Republic
181              182                    Angola
182              183              Sierra Leone

[183 rows x 2 columns]
fetching country: Switzerland
fetching country: United States
fetching country: Denmark
fetching country: Japan
fetching country: Luxembourg
fetching country: Singapore
fetching country: Norway
fetching country: Hong Kong
fetching country: United Kingdom
fetching country: New Zealand
fetching country: Iceland
fetching country: France
fetching country: Liechtenstein
fetching country: Finland
fetching country: Christmas Island
fetching country: Australia
fetching country: Germany
fetching country: Netherlands
fetching country: Sweden
fetching country: Guadeloupe
fetching country: Oman
fetching country: Canada
fetching country: Belgium
fetching country: Saudi Arabia
fetching country: Reunion
fetching country: Qatar
fetching country: Faroe Islands
fetching country: Montenegro
fetching country: Gibraltar
fetching country: Monaco
fetching country: Austria
fetching country: Guernsey
fetching country: Kuwait
fetching country: Greenland
fetching country: United Arab Emirates
fetching country: Cocos (Keeling) Islands
fetching country: China
fetching country: Jersey
fetching country: Italy
fetching country: Ireland
fetching country: Aland Islands
fetching country: San Marino
fetching country: Norfolk Island
fetching country: Bahrain
fetching country: Cayman Islands
fetching country: South Georgia and the South Sandwich Islands
fetching country: Tokelau
fetching country: Cyprus
fetching country: Saint Pierre and Miquelon
fetching country: South Korea
fetching country: Saint Martin
fetching country: Pitcairn
fetching country: Slovakia
fetching country: Tuvalu
fetching country: Kiribati
fetching country: Cook Islands
fetching country: French Guiana
fetching country: Spain
fetching country: Martinique
fetching country: Cape Verde
fetching country: Saint Barthelemy
fetching country: Thailand
fetching country: Bahamas
fetching country: Slovenia
fetching country: Niue
fetching country: Greece
fetching country: French Southern Territories
fetching country: Portugal
fetching country: Moldova
fetching country: Vatican City State
fetching country: Taiwan
fetching country: Malta
fetching country: Andorra
fetching country: Svalbard and Jan Mayen Islands
fetching country: Mayotte
fetching country: Costa Rica
fetching country: Brazil
fetching country: Panama
fetching country: Jordan
fetching country: Fiji
fetching country: Libya
fetching country: United States Minor Outlying Islands
fetching country: Nauru
fetching country: Netherlands Antilles
fetching country: Czech Republic
fetching country: Marshall Islands
fetching country: Senegal
fetching country: Morocco
fetching country: Heard Island and McDonald Islands
fetching country: Russia
fetching country: Lebanon
fetching country: Aruba
fetching country: Brunei
fetching country: Mexico
fetching country: Georgia
fetching country: Poland
fetching country: Chile
fetching country: Iraq
fetching country: Turkmenistan
fetching country: Latvia
fetching country: Solomon Islands
fetching country: Hungary
fetching country: South Africa
fetching country: Croatia
fetching country: Falkland Islands (Malvinas)
fetching country: Serbia
fetching country: Belarus
fetching country: Armenia
fetching country: Malaysia
fetching country: Tunisia
fetching country: Belize
fetching country: Puerto Rico
fetching country: Algeria
fetching country: Lithuania
fetching country: Guam
fetching country: Azerbaijan
fetching country: Comoros
fetching country: Papua New Guinea
fetching country: Tajikistan
fetching country: Bermuda
fetching country: Colombia
fetching country: Barbados
fetching country: Bulgaria
fetching country: Romania
fetching country: Turkey
fetching country: Djibouti
fetching country: Venezuela
fetching country: Peru
fetching country: Kenya
fetching country: Mozambique
fetching country: Paraguay
fetching country: Bolivia
fetching country: Maldives
fetching country: Tonga
fetching country: Kazakhstan
fetching country: Northern Mariana Islands
fetching country: French Polynesia
fetching country: Seychelles
fetching country: Equatorial Guinea
fetching country: Nigeria
fetching country: Samoa
fetching country: Bosnia and Herzegovina
fetching country: Saint Vincent and the Grenadines
fetching country: Saint Kitts and Nevis
fetching country: Trinidad and Tobago
fetching country: Congo Democratic Republic
fetching country: Iran
fetching country: Kyrgyzstan
fetching country: Mauritania
fetching country: Eritrea
fetching country: Mauritius
fetching country: Antigua and Barbuda
fetching country: Namibia
fetching country: Gabon
fetching country: Estonia
fetching country: Ivory Coast
fetching country: Indonesia
fetching country: Zambia
fetching country: Laos
fetching country: Western Sahara
fetching country: Botswana
fetching country: Jamaica
fetching country: Grenada
fetching country: Saint Lucia
fetching country: Swaziland
fetching country: Dominica
fetching country: Uganda
fetching country: Montserrat
fetching country: Afghanistan
fetching country: Cameroon
fetching country: Guinea
fetching country: Suriname
fetching country: Gambia
fetching country: Rwanda
fetching country: Philippines
fetching country: Ukraine
fetching country: Sao Tome and Principe
fetching country: Macedonia
fetching country: Ghana
fetching country: Macao
fetching country: Niger
fetching country: Togo
fetching country: Malawi
fetching country: Guatemala
fetching country: Madagascar
fetching country: Saint Helena
fetching country: Albania
fetching country: Cuba
fetching country: Guyana
fetching country: Chad
fetching country: Vanautu
fetching country: Sudan
fetching country: Burkina Faso
fetching country: New Caledonia
fetching country: Cambodia
fetching country: Vietnam
fetching country: Congo
fetching country: Mongolia
fetching country: Central African Republic
fetching country: Mali
fetching country: Syria
fetching country: Haiti
fetching country: Benin
fetching country: Liberia
fetching country: Lesotho
fetching country: Honduras
fetching country: Angola
fetching country: Uzbekistan
fetching country: Egypt
fetching country: Bangladesh
fetching country: British Indian Ocean Territory
fetching country: Nicaragua
fetching country: Yemen
fetching country: Burundi
fetching country: Sri Lanka
fetching country: Wallis and Futuna

fetching country: Anguilla
fetching country: Pakistan
fetching country: Sierra Leone
fetching country: Uruguay
fetching country: Guinea-Bissau
fetching country: Tanzania
fetching country: Bhutan
fetching country: Somalia
fetching country: Turks and Caicos Islands
fetching country: Dominican Republic
fetching country: Nepal
fetching country: Myanmar
fetching country: North Korea
fetching country: Argentina
fetching country: Ethiopia
fetching country: India
fetching country: El Salvador
fetching country: Micronesia
fetching country: East Timor
fetching country: Ecuador
fetching country: Zimbabwe
fetching country: American Samoa
fetching country: Palau
fetching country: Palestine
fetching country: Virgin Islands (British)
fetching country: Virgin Islands (US)

In [11]:
master_add("Days Off", days_off)

Days Off                           Country  Days Off
0                            Iran      53.0
1                          Kuwait      48.0
2                          Russia      47.0
3                         Andorra      45.0
4                        Cambodia      45.0
5                    Burkina Faso      45.0
6                      Luxembourg      44.0
7                         Bahrain      44.0
8                         Algeria      41.0
9                          Panama      40.0
10                      Sri Lanka      40.0
11                          Malta      40.0
12                     Azerbaijan      40.0
13                     Kazakhstan      40.0
14                        Georgia      39.0
15                        Austria      38.0
16                      Mauritius      38.0
17                          Benin      37.0
18                        Lebanon      37.0
19                          Syria      37.0
20                       Tanzania      37.0
21                          Yemen      37.0
22                        Denmark      36.0
23                          Spain      36.0
24                        Armenia      36.0
25                        Iceland      36.0
26                         France      36.0
27                        Finland      36.0
28                         Norway      35.0
29                     Madagascar      35.0
..                            ...       ...
164                    Uzbekistan      15.0
165                       Vanuatu      15.0
166                     Venezuela      15.0
167                   South Korea      15.0
168                          Laos      15.0
169                   Puerto Rico      15.0
170                      Barbados      15.0
171                      Mongolia      15.0
172               Solomon Islands      15.0
173                        Mexico      13.0
174                       Eritrea      12.0
175  Democratic Republic of Congo      12.0
176                    East Timor      12.0
177         Saint Kitts and Nevis      12.0
178                     Palestine      12.0
179                        Guyana      12.0
180                      Suriname      12.0
181                       Jamaica      10.0
182                    San Marino      10.0
183                     Swaziland      10.0
184                         Japan      10.0
185                        Bhutan       9.0
186                       Nigeria       5.0
187                 United States       0.0
188                         Nauru       0.0
189                         Palau       0.0
190                      Kiribati       0.0
191                         Tonga       0.0
192                    Micronesia       0.0
193              Marshall Islands       0.0

[194 rows x 2 columns]
fetching country: Switzerland
fetching country: United States
fetching country: Denmark
fetching country: Japan
fetching country: Luxembourg
fetching country: Singapore
fetching country: Norway
fetching country: Hong Kong
fetching country: United Kingdom
fetching country: New Zealand
fetching country: Iceland
fetching country: France
fetching country: Liechtenstein
fetching country: Finland
fetching country: Christmas Island
fetching country: Australia
fetching country: Germany
fetching country: Netherlands
fetching country: Sweden
fetching country: Guadeloupe
fetching country: Oman
fetching country: Canada
fetching country: Belgium
fetching country: Saudi Arabia
fetching country: Reunion
fetching country: Qatar
fetching country: Faroe Islands
fetching country: Montenegro
fetching country: Gibraltar
fetching country: Monaco
fetching country: Austria
fetching country: Guernsey
fetching country: Kuwait
fetching country: Greenland
fetching country: United Arab Emirates
fetching country: Cocos (Keeling) Islands
fetching country: China
fetching country: Jersey
fetching country: Italy
fetching country: Ireland
fetching country: Aland Islands
fetching country: San Marino
fetching country: Norfolk Island
fetching country: Bahrain
fetching country: Cayman Islands
fetching country: South Georgia and the South Sandwich Islands
fetching country: Tokelau
fetching country: Cyprus
fetching country: Saint Pierre and Miquelon
fetching country: South Korea
fetching country: Saint Martin
fetching country: Pitcairn
fetching country: Slovakia
fetching country: Tuvalu
fetching country: Kiribati
fetching country: Cook Islands
fetching country: French Guiana
fetching country: Spain
fetching country: Martinique
fetching country: Cape Verde
fetching country: Saint Barthelemy
fetching country: Thailand
fetching country: Bahamas
fetching country: Slovenia
fetching country: Niue
fetching country: Greece
fetching country: French Southern Territories
fetching country: Portugal
fetching country: Moldova
fetching country: Vatican City State
fetching country: Taiwan
fetching country: Malta
fetching country: Andorra
fetching country: Svalbard and Jan Mayen Islands
fetching country: Mayotte
fetching country: Costa Rica
fetching country: Brazil
fetching country: Panama
fetching country: Jordan
fetching country: Fiji
fetching country: Libya
fetching country: United States Minor Outlying Islands
fetching country: Nauru
fetching country: Netherlands Antilles
fetching country: Czech Republic
fetching country: Marshall Islands
fetching country: Senegal
fetching country: Morocco
fetching country: Heard Island and McDonald Islands
fetching country: Russia
fetching country: Lebanon
fetching country: Aruba
fetching country: Brunei
fetching country: Mexico
fetching country: Georgia
fetching country: Poland
fetching country: Chile
fetching country: Iraq
fetching country: Turkmenistan
fetching country: Latvia
fetching country: Solomon Islands
fetching country: Hungary
fetching country: South Africa
fetching country: Croatia
fetching country: Falkland Islands (Malvinas)
fetching country: Serbia
fetching country: Belarus
fetching country: Armenia
fetching country: Malaysia
fetching country: Tunisia
fetching country: Belize
fetching country: Puerto Rico
fetching country: Algeria
fetching country: Lithuania
fetching country: Guam
fetching country: Azerbaijan
fetching country: Comoros
fetching country: Papua New Guinea
fetching country: Tajikistan
fetching country: Bermuda
fetching country: Colombia
fetching country: Barbados
fetching country: Bulgaria
fetching country: Romania
fetching country: Turkey
fetching country: Djibouti
fetching country: Venezuela
fetching country: Peru
fetching country: Kenya
fetching country: Mozambique
fetching country: Paraguay
fetching country: Bolivia
fetching country: Maldives
fetching country: Tonga
fetching country: Kazakhstan
fetching country: Northern Mariana Islands
fetching country: French Polynesia
fetching country: Seychelles
fetching country: Equatorial Guinea
fetching country: Nigeria
fetching country: Samoa
fetching country: Bosnia and Herzegovina
fetching country: Saint Vincent and the Grenadines
fetching country: Saint Kitts and Nevis
fetching country: Trinidad and Tobago
fetching country: Congo Democratic Republic
fetching country: Iran
fetching country: Kyrgyzstan
fetching country: Mauritania
fetching country: Eritrea
fetching country: Mauritius
fetching country: Antigua and Barbuda
fetching country: Namibia
fetching country: Gabon
fetching country: Estonia
fetching country: Ivory Coast
fetching country: Indonesia
fetching country: Zambia
fetching country: Laos
fetching country: Western Sahara
fetching country: Botswana
fetching country: Jamaica
fetching country: Grenada
fetching country: Saint Lucia
fetching country: Swaziland
fetching country: Dominica
fetching country: Uganda
fetching country: Montserrat
fetching country: Afghanistan
fetching country: Cameroon
fetching country: Guinea
fetching country: Suriname
fetching country: Gambia
fetching country: Rwanda
fetching country: Philippines
fetching country: Ukraine
fetching country: Sao Tome and Principe
fetching country: Macedonia
fetching country: Ghana
fetching country: Macao
fetching country: Niger
fetching country: Togo
fetching country: Malawi
fetching country: Guatemala
fetching country: Madagascar
fetching country: Saint Helena
fetching country: Albania
fetching country: Cuba
fetching country: Guyana
fetching country: Chad
fetching country: Vanautu
fetching country: Sudan
fetching country: Burkina Faso
fetching country: New Caledonia
fetching country: Cambodia
fetching country: Vietnam
fetching country: Congo
fetching country: Mongolia
fetching country: Central African Republic
fetching country: Mali
fetching country: Syria
fetching country: Haiti
fetching country: Benin
fetching country: Liberia
fetching country: Lesotho
fetching country: Honduras
fetching country: Angola
fetching country: Uzbekistan
fetching country: Egypt
fetching country: Bangladesh
fetching country: British Indian Ocean Territory
fetching country: Nicaragua

fetching country: Yemen
fetching country: Burundi
fetching country: Sri Lanka
fetching country: Wallis and Futuna
fetching country: Anguilla
fetching country: Pakistan
fetching country: Sierra Leone
fetching country: Uruguay
fetching country: Guinea-Bissau
fetching country: Tanzania
fetching country: Bhutan
fetching country: Somalia
fetching country: Turks and Caicos Islands
fetching country: Dominican Republic
fetching country: Nepal
fetching country: Myanmar
fetching country: North Korea
fetching country: Argentina
fetching country: Ethiopia
fetching country: India
fetching country: El Salvador
fetching country: Micronesia
fetching country: East Timor
fetching country: Ecuador
fetching country: Zimbabwe
fetching country: American Samoa
fetching country: Palau
fetching country: Palestine
fetching country: Virgin Islands (British)
fetching country: Virgin Islands (US)

In [12]:
master.head(50)
# its not finding the countries in the list, idk why

,Country,Salary,Safety,Life Expectancy,Days Off
0,Switzerland,404,404,404,404
1,United States,404,404,404,404
2,Denmark,404,404,404,404
3,Japan,404,404,404,404
4,Luxembourg,404,404,404,404
5,Singapore,404,404,404,404
6,Norway,404,404,404,404
7,Hong Kong,404,404,404,404
8,United Kingdom,404,404,404,404
9,New Zealand,404,404,404,404
10,Iceland,404,404,404,404
11,France,404,404,404,404
12,Liechtenstein,404,404,404,404
13,Finland,404,404,404,404
14,Christmas Island,404,404,404,404
15,Australia,404,404,404,404
16,Germany,404,404,404,404
17,Netherlands,404,404,404,404
18,Sweden,404,404,404,404
19,Guadeloupe,404,404,404,404
20,Oman,404,404,404,404
21,Canada,404,404,404,404
22,Belgium,404,404,404,404
23,Saudi Arabia,404,404,404,404
24,Reunion,404,404,404,404
25,Qatar,404,404,404,404
26,Faroe Islands,404,404,404,404
27,Montenegro,404,404,404,404
28,Gibraltar,404,404,404,404
29,Monaco,404,404,404,404
30,Austria,404,404,404,404
31,Guernsey,404,404,404,404
32,Kuwait,404,404,404,404
33,Greenland,404,404,404,404
34,United Arab Emirates,404,404,404,404
35,Cocos (Keeling) Islands,404,404,404,404
36,China,404,404,404,404
37,Jersey,404,404,404,404
38,Italy,404,404,404,404
39,Ireland,404,404,404,404
40,Aland Islands,404,404,404,404
41,San Marino,404,404,404,404
42,Norfolk Island,404,404,404,404
43,Bahrain,404,404,404,404
44,Cayman Islands,404,404,404,404
45,South Georgia and the South Sandwich Islands,404,404,404,404
46,Tokelau,404,404,404,404
47,Cyprus,404,404,404,404
48,Saint Pierre and Miquelon,404,404,404,404
49,South Korea,404,404,404,404

In [5]:
row = master[master["Country"] == "Poland"]
print row["Safety"].values[0]

29

In [6]:
print master

                      Country Salary Safety Life Expectancy Days Off
0                 Switzerland      1     10               2       95
1               United States      2    128              31      188
2                     Denmark      3      5              27       23
3                       Japan      4      9               1      185
4                  Luxembourg      5    404              13        7
5                   Singapore      6      7               3      159
6                      Norway      7     20              15       29
7                   Hong Kong      8    404             404      153
8              United Kingdom      9     45              20       84
9                 New Zealand     10      2              17       67
10                    Iceland     11      1               6       26
11                     France     12     60              10       27
12              Liechtenstein     13    404             404      404
13                    Finland     14     14              22       28
14           Christmas Island     15    404             404      404
15                  Australia     16     13               4       73
16                    Germany     17     22              24       76
17                Netherlands     18     17              14       83
18                     Sweden     19     19               9       45
19                 Guadeloupe     20    404             404      404
20                       Oman     21     69              48       68
21                     Canada     22      6              12      117
22                    Belgium     23     18              21       71
23               Saudi Arabia     24    129              80       72
24                    Reunion     25    404             404      404
25                      Qatar     26     31              35      106
26              Faroe Islands     27    404             404      404
27                 Montenegro     28     67              54      137
28                  Gibraltar     29    404             404      404
29                     Monaco     30    404             404      404
..                        ...    ...    ...             ...      ...
212                     Yemen    213    160             137       22
213                   Burundi    214    135             166       74
214                 Sri Lanka    215     73              72       11
215         Wallis and Futuna    216    404             404      404
216                  Anguilla    217    404             404      404
217                  Pakistan    218    153             130       78
218              Sierra Leone    219     52             183      158
219                   Uruguay    220     34              44      107
220             Guinea-Bissau    221    112             168      126
221                  Tanzania    222     54             156       21
222                    Bhutan    223     15             114      186
223                   Somalia    224    163             176      125
224  Turks and Caicos Islands    225    404             404      404
225        Dominican Republic    226     84              88      115
226                     Nepal    227     76             119       89
227                   Myanmar    228    125             129      113
228             Korea (North)    229    404             404      404
229                 Argentina    230     75              50      109
230                  Ethiopia    231    131             141      108
231                     India    232    141             125       96
232               El Salvador    233    113              92       99
233                Micronesia    234    404             116      193
234                East Timor    235     63             404      177
235                   Ecuador    236     71              52      118
236                  Zimbabwe    237    132             160       55
237            American Samoa    238    404             404      404
238                     Palau    239    404             404      190
239                 Palestine    240    142             404      179
240  Virgin Islands (British)    241    404             404      404
241       Virgin Islands (US)    242    404             404      404

[242 rows x 5 columns]

In [7]:
def inv_names():
    for country in countries:
       # print country
        val = 0
        row = master[master["Country"] == country]
        for cat in categories:
            #print cat
            if row[cat].values[0] == 404:
                val+=1
            if val > 1:
                if country not in invalid_names:
                    invalid_names.append(country)
        #print val
    #print invalid_names

In [8]:
inv_names()

In [9]:
master[master["Country"] == "Hong Kong"]

     Country Salary Safety Life Expectancy Days Off
7  Hong Kong      8    404             404      153

In [10]:
print invalid_names
#from this list modify the selected ones
#and then invoke some method to assign points to them?
#or just modify the master_add method?

['Hong Kong', 'Liechtenstein', 'Christmas Island', 'Guadeloupe', 'Reunion', 'Faroe Islands', 'Gibraltar', 'Monaco', 'Guernsey', 'Greenland', 'Cocos (Keeling) Islands', 'Jersey', 'Aland Islands', 'San Marino', 'Norfolk Island', 'Cayman Islands', 'South Georgia and the South Sandwich Islands', 'Tokelau', 'Saint Pierre and Miquelon', 'Korea (South)', 'Saint Martin', 'Pitcairn', 'Tuvalu', 'Cook Islands', 'French Guiana', 'Martinique', 'Saint Barthelemy', 'Bahamas', 'Niue', 'French Southern Territories', 'Vatican City State', 'Andorra', 'Svalbard and Jan Mayen Islands', 'Mayotte', 'United States Minor Outlying Islands', 'Nauru', 'Netherlands Antilles', 'Marshall Islands', 'Heard Island and McDonald Islands', 'Aruba', 'Brunei', 'Falkland Islands (Malvinas)', 'Puerto Rico', 'Guam', 'Bermuda', 'Northern Mariana Islands', 'French Polynesia', 'Saint Kitts and Nevis', 'Congo Democratic Republic', 'Cote Divoire', 'Western Sahara', 'Swaziland', 'Dominica', 'Montserrat', 'Sao Tome and Principe', 'Macedonia', 'Macao', 'Saint Helena', 'Vanautu', 'New Caledonia', 'Congo', 'British Indian Ocean Territory', 'Wallis and Futuna', 'Anguilla', 'Turks and Caicos Islands', 'Korea (North)', 'American Samoa', 'Palau', 'Virgin Islands (British)', 'Virgin Islands (US)']

ValueError: can only convert an array of size 1 to a Python scalar

In [15]:
replace_name("Cote Divoire", "Ivory Coast")

Country            Ivory Coast
Salary                     156
Safety                     404
Life Expectancy            404
Days Off                   404
Name: 155, dtype: object

In [ ]:

'''
probably here should investigate which countries have messed up names
or actually right after the array setup

nah maybe here - check how many countries have 404 in more than one


'''

In [7]:
# distance

#TODO replace by map?

import urllib, json
zero_dist = []
master["Distance"] = ""
def distance(country, c_list):
    print country
    url = "https://www.dystans.org/route.json?stops=" + country + "|"
    for each_ctr in c_list:
        addr = url + each_ctr
        resp = urllib.urlopen(addr)
        data = json.loads(resp.read())
        m_val = master[master['Country'] == each_ctr].index.item()
        if not data['distances']:
            zero_dist.append(each_ctr)
            #assign some value?
            master.at[m_val, "Distance"] = 44444
        else:
            master.at[m_val, "Distance"] = data['distances'][0]
        

            
            
            
#cases where USA =/= United States

In [8]:
distance("Poland", countries)

Poland

In [14]:
#probably here should add some handling to cases where country not found
#dropping some? but others need to be replaced

print zero_dist
zero_dist[zero_dist.index("Korea (North)")] = "North Korea"
zero_dist[zero_dist.index("Korea (South)")] = "South Korea"
zero_dist[zero_dist.index("Vatican City State")] = "Vatican"
zero_dist[zero_dist.index("Falkland Islands (Malvinas)")] = "Falkland Islands"
zero_dist[zero_dist.index("Congo Democratic Republic")] = "Congo"
zero_dist[zero_dist.index("Cote Divoire")] = "Ivory Coast"


zero_dist

['South Georgia and the South Sandwich Islands', 'Saint Pierre and Miquelon', 'South Korea', 'French Guiana', 'French Southern Territories', 'Vatican', 'Svalbard and Jan Mayen Islands', 'United States Minor Outlying Islands', 'Netherlands Antilles', 'Heard Island and McDonald Islands', 'Falkland Islands', 'Congo', 'Antigua and Barbuda', 'Ivory Coast', 'North Korea', 'Virgin Islands (British)', 'Virgin Islands (US)']

ValueError: 'Korea (North)' is not in list

In [16]:
#print(master.loc[["South Korea"]])
#btw see how 404's here - probably also Korea South in one data set, South Korea in others

#print master.head()

print master.head(50)

                                         Country Salary Safety  \
0                                    Switzerland      1     10
1                                  United States      2    128
2                                        Denmark      3      5
3                                          Japan      4      9
4                                     Luxembourg      5    404
5                                      Singapore      6      7
6                                         Norway      7     20
7                                      Hong Kong      8    404
8                                 United Kingdom      9     45
9                                    New Zealand     10      2
10                                       Iceland     11      1
11                                        France     12     60
12                                 Liechtenstein     13    404
13                                       Finland     14     14
14                              Christmas Island     15    404
15                                     Australia     16     13
16                                       Germany     17     22
17                                   Netherlands     18     17
18                                        Sweden     19     19
19                                    Guadeloupe     20    404
20                                          Oman     21     69
21                                        Canada     22      6
22                                       Belgium     23     18
23                                  Saudi Arabia     24    129
24                                       Reunion     25    404
25                                         Qatar     26     31
26                                 Faroe Islands     27    404
27                                    Montenegro     28     67
28                                     Gibraltar     29    404
29                                        Monaco     30    404
30                                       Austria     31      4
31                                      Guernsey     32    404
32                                        Kuwait     33     43
33                                     Greenland     34    404
34                          United Arab Emirates     35     53
35                       Cocos (Keeling) Islands     36    404
36                                         China     37    110
37                                        Jersey     38    404
38                                         Italy     39     39
39                                       Ireland     40     12
40                                 Aland Islands     41    404
41                                    San Marino     42    404
42                                Norfolk Island     43    404
43                                       Bahrain     44    124
44                                Cayman Islands     45    404
45  South Georgia and the South Sandwich Islands     46    404
46                                       Tokelau     47    404
47                                        Cyprus     48     48
48                     Saint Pierre and Miquelon     49    404
49                                 Korea (South)     50    404

   Life Expectancy Days Off Distance
0                2       95      972
1               31      188     8291
2               27       23      792
3                1      185     8588
4               13        7      942
5                3      159     9538
6               15       29     1156
7              404      153     8407
8               20       84     1531
9               17       67    17830
10               6       26     2595
11              10       27     2396
12             404      404      870
13              22       28     1183
14             404      404    10701
15               4       73    13880
16              24       76      607
17              14       83      947
18               9       45      915
19             404      404     7968
20              48       68     4629
21              12      117     7015
22              21       71     1033
23              80       72     3822
24             404      404     8870
25              35      106     4317
26             404      404     1913
27              54      137     1026
28             404      404     2609
29             404      404     1260
30              18       16      591
31             404      404     1550
32              76        2     3433
33             404      404     3670
34              43       58     4286
35             404      404    10263
36              53      100     6650
37             404      148     1312
38               7       59     1224
39              19       82     1845
40             404      404      924
41             404      183     1017
42             404      404    16425
43              45        8     3156
44             404      404     9026
45             404      404    44444
46             404      404    15183
47              28       37     2189
48             404      404    44444
49             404      404    44444

In [17]:

distance("Poland", zero_dist)

Poland

ValueError: can only convert an array of size 1 to a Python scalar

In [18]:
#country specified prev?
def add_remaining_countries(country):
    for entry in zero_dist:
        url = "https://www.dystans.org/route.json?stops=" + country + "|" + entry
        addr = url + entry
        resp = urllib.urlopen(addr)
        data = json.loads(resp.read())
        m_val = master[master['Country'] == entry].index.item()
        if not data['distances']:
            zero_dist.append(each_ctr)
            #assign some value?
            master.at[m_val, "Distance"] = -1
        else:
            master.at[m_val, "Distance"] = data['distances'][0]
            
            
#actually maybe just use this in the og function?
# just specify the second parameter to be the list

In [19]:
add_remaining_countries("Poland")

NameError: global name 'each_ctr' is not defined

In [22]:
bins = pd.qcut(master["Distance"], 10)#, labels = [1,2,3]) # equal sized; can specify labels
bin_list = []
sort_list = []
for bin_int in bins:
    if bin_int not in bin_list:
        bin_list.append(bin_int)
             
bin_list.sort()
print bin_list 
print "-----------"

for interval in bin_list:
    entry = []
    entry.append(interval.left)
    entry.append(interval.right)
    sort_list.append(entry)
    
print sort_list

[Interval(-0.001, 1006.2, closed='right'), Interval(1006.2, 2382.4, closed='right'), Interval(2382.4, 4124.9, closed='right'), Interval(4124.9, 5303.8, closed='right'), Interval(5303.8, 7028.0, closed='right'), Interval(7028.0, 8249.4, closed='right'), Interval(8249.4, 8870.7, closed='right'), Interval(8870.7, 10697.6, closed='right'), Interval(10697.6, 15809.1, closed='right'), Interval(15809.1, 44444.0, closed='right')]
-----------
[[-0.001, 1006.2], [1006.2, 2382.4], [2382.4, 4124.9], [4124.9, 5303.8], [5303.8, 7028.0], [7028.0, 8249.4], [8249.4, 8870.7], [8870.7, 10697.6], [10697.6, 15809.1], [15809.1, 44444.0]]

In [21]:
master.set_index("Country", inplace = True)
master.head(30)

                 Salary Safety Life Expectancy Days Off Distance
Country
Switzerland           1     10               2       95      972
United States         2    128              31      188     8291
Denmark               3      5              27       23      792
Japan                 4      9               1      185     8588
Luxembourg            5    404              13        7      942
Singapore             6      7               3      159     9538
Norway                7     20              15       29     1156
Hong Kong             8    404             404      153     8407
United Kingdom        9     45              20       84     1531
New Zealand          10      2              17       67    17830
Iceland              11      1               6       26     2595
France               12     60              10       27     2396
Liechtenstein        13    404             404      404      870
Finland              14     14              22       28     1183
Christmas Island     15    404             404      404    10701
Australia            16     13               4       73    13880
Germany              17     22              24       76      607
Netherlands          18     17              14       83      947
Sweden               19     19               9       45      915
Guadeloupe           20    404             404      404     7968
Oman                 21     69              48       68     4629
Canada               22      6              12      117     7015
Belgium              23     18              21       71     1033
Saudi Arabia         24    129              80       72     3822
Reunion              25    404             404      404     8870
Qatar                26     31              35      106     4317
Faroe Islands        27    404             404      404     1913
Montenegro           28     67              54      137     1026
Gibraltar            29    404             404      404     2609
Monaco               30    404             404      404     1260

In [27]:
master.loc["Korea (South)"]

Salary                50
Safety               404
Life Expectancy      404
Days Off             404
Distance           44444
Name: Korea (South), dtype: object

In [23]:
master.head(100)

,Salary,Safety,Life Expectancy,Days Off,Distance
Country,,,,,
Switzerland,1,10,2,95,972
United States,2,128,31,188,8291
Denmark,3,5,27,23,792
Japan,4,9,1,185,8588
Luxembourg,5,404,13,7,942
Singapore,6,7,3,159,9538
Norway,7,20,15,29,1156
Hong Kong,8,404,404,153,8407
United Kingdom,9,45,20,84,1531
New Zealand,10,2,17,67,17830
Iceland,11,1,6,26,2595
France,12,60,10,27,2396
Liechtenstein,13,404,404,404,870
Finland,14,14,22,28,1183
Christmas Island,15,404,404,404,10701
Australia,16,13,4,73,13880
Germany,17,22,24,76,607
Netherlands,18,17,14,83,947
Sweden,19,19,9,45,915
Guadeloupe,20,404,404,404,7968
Oman,21,69,48,68,4629
Canada,22,6,12,117,7015
Belgium,23,18,21,71,1033
Saudi Arabia,24,129,80,72,3822
Reunion,25,404,404,404,8870
Qatar,26,31,35,106,4317
Faroe Islands,27,404,404,404,1913
Montenegro,28,67,54,137,1026
Gibraltar,29,404,404,404,2609
Monaco,30,404,404,404,1260
...,...,...,...,...,...
Taiwan,71,36,404,149,8733
Malta,72,404,16,12,1819
Andorra,73,404,404,4,1680
Svalbard and Jan Mayen Islands,74,404,404,404,44444
Mayotte,75,404,404,404,7634
Costa Rica,76,33,30,152,10036
Brazil,77,116,69,104,10019
Panama,78,47,38,10,9946
Jordan,79,78,84,103,2758
Fiji,80,404,113,123,15814
Libya,81,156,96,133,2853
United States Minor Outlying Islands,82,404,404,404,44444
Nauru,83,404,404,189,13578
Netherlands Antilles,84,404,404,404,44444
Czech Republic,85,404,33,46,348
Marshall Islands,86,404,404,194,12949
Senegal,87,58,128,57,5124
Morocco,88,90,83,105,3090
Heard Island and McDonald Islands,89,404,404,404,44444
Russia,90,154,110,3,4971
Lebanon,91,147,70,19,2418
Aruba,92,404,404,404,8866
Brunei,93,404,39,404,9990
Mexico,94,140,46,174,9902
Georgia,95,99,82,15,2141
Poland,96,29,41,50,0
Chile,97,27,29,75,13107
Iraq,98,159,121,145,2869
Turkmenistan,99,115,132,404,3415
Latvia,100,35,79,60,656

['South Georgia and the South Sandwich Islands', 'Saint Pierre and Miquelon', 'Korea (South)', 'French Guiana', 'French Southern Territories', 'Vatican City State', 'Svalbard and Jan Mayen Islands', 'United States Minor Outlying Islands', 'Netherlands Antilles', 'Heard Island and McDonald Islands', 'Falkland Islands (Malvinas)', 'Congo Democratic Republic', 'Antigua and Barbuda', 'Cote Divoire', 'Korea (North)', 'Virgin Islands (British)', 'Virgin Islands (US)']

['South Georgia and the South Sandwich Islands',
 'Saint Pierre and Miquelon',
 'South Korea',
 'French Guiana',
 'French Southern Territories',
 'Vatican',
 'Svalbard and Jan Mayen Islands',
 'United States Minor Outlying Islands',
 'Netherlands Antilles',
 'Heard Island and McDonald Islands',
 'Falkland Islands',
 'Congo',
 'Antigua and Barbuda',
 'Ivory Coast',
 'North Korea',
 'Virgin Islands (British)',
 'Virgin Islands (US)']

In [8]:
def point_add(category, distr, priority):
    #assign points depending on the type of distribution
    
    
    tr = 10 * distr
    new_col = category + " points"
    if new_col not in column_list:
        column_list.append(new_col)
    master[new_col] = ""
#    print tr
    for country in countries:
        plz = master.loc[country, category]
        if plz <= tr:
#            print country, plz
            pts = (10 * priority)
        elif plz < (2 * tr):
            pts = (9 * priority)
        elif plz < (3 * tr):
            pts = (8 * priority)
        elif plz < (4 * tr):
            pts = (7 * priority)
        elif plz < (5 * tr):
            pts = (6 * priority)
        elif plz < (6 * tr):
            pts = (5 * priority)
        elif plz < (7 * tr):
            pts = (4 * priority)
        elif plz < (8 * tr):
            pts = (3 * priority)
        elif plz < (9 * tr):
            pts = (2 * priority)
        elif plz < (10 * tr):
            pts = priority
    
        else:
            pts = 0
        
        master.at[country, new_col] = pts

In [9]:
point_add("Safety", 1, 2)
point_add("Days Off", 1.4, 1.5)
point_add("Life Expectancy", 1.2, 1.3)
point_add("Salary", 1.1, 1.9)

#can do: based on how important the category is, impact the distr?

In [10]:
master.head() #current

,Salary,Safety,Life Expectancy,Days Off,Safety points,Days Off points,Life Expectancy points,Salary points
Country,,,,,,,,
Switzerland,1,10,2,95,20,6,13,19
United States,2,128,31,188,0,0,10.4,19
Denmark,3,5,27,23,20,13.5,10.4,19
Japan,4,9,1,185,20,0,13,19
Luxembourg,5,404,13,7,0,15,11.7,19

In [11]:
#determine whether a country speaks your language
lan = pd.read_csv("scrapers/languages.csv", delimiter = ';', header = None, index_col = False)

'''
days_off.sort_values(by = 2, ascending = False, inplace = True)
days_off.reset_index(drop=True, inplace=True)  
days_off.drop(columns = 0, inplace = True)
days_off.rename(columns = {1: 'Country', 2: 'Days Off'}, inplace = True)
'''

lan.head()

   0                    1                                                  2
0  1              Albania     Albanian (Tosk is the official dialect), Greek
1  2              Algeria         Arabic (official), French, Berber dialects
2  3              Andorra  Catalán (official), French, Castilian, Portuguese
3  4               Angola  Portuguese (official), Bantu and other African...
4  5  Antigua and Barbuda                 English (official), local dialects

In [12]:
def lang_add(language, priority):
    lan_col = language + " points"
    if lan_col not in column_list:
        column_list.append(lan_col)
    
    master[lan_col] = ""
    pts = 10 * priority
    lgh = len(lan)

    for no in range(lgh): #determine the right range
        if (language in lan.at[no,2]):
            points = pts 
        else:
            points = 0
           
        #print lan.at[no, 1], lan.at[no, 2], points
        master.at[lan.at[no,1], lan_col] = points    
        
        
        
    for idx, row in master.iterrows():
        if(row[lan_col] == ""):
            row[lan_col] = 0
    #not every country gets points assigned

In [13]:
lang_add("Polish", 1.5)

In [13]:
#master.head(50)
#master.drop(["SUM"], axis = 1, inplace = True)
lang_add("English", 1.8)
lang_add("German", 1.2)

In [31]:
master.sort_values(by = "SUM", inplace =True, ascending = False)

In [38]:
master.drop(["SUM"], axis = 1, inplace = True)

In [14]:
#lang_add("German", 1.6) - case when language already added
master["SUM"] = master[column_list].sum(axis=1)
master.sort_values(by = "SUM", inplace =True, ascending = False)
master.head()

,Salary,Safety,Life Expectancy,Days Off,Safety points,Days Off points,Life Expectancy points,Salary points,English points,German points,SUM
Country,,,,,,,,,,,
Iceland,11,1,6,26,20,13.5,13,19,18,12,95.5
Denmark,3,5,27,23,20,13.5,10.4,19,18,12,92.9
New Zealand,10,2,17,67,20,9,11.7,19,18,0,77.7
Australia,16,13,4,73,18,7.5,13,17.1,18,0,73.6
Austria,31,4,18,16,20,13.5,11.7,15.2,0,12,72.4

In [18]:
master.sort_values(by = "SUM", inplace = True, ascending = True)
master.fillna(0, inplace = True)
master.head()

,Salary,Safety,Life Expectancy,Days Off,Safety points,Days Off points,Life Expectancy points,Salary points,English points,German points,SUM
Country,,,,,,,,,,,
Western Sahara (proposed state),0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
Vatican City (Holy See),0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
American Samoa,238,404,404,404,0,0.0,0.0,0.0,0.0,0.0,0.0
São Tomé and Príncipe,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
Puerto Rico,112,404,404,170,0,0.0,0.0,0.0,0.0,0.0,0.0

In [20]:
master.sort_values(by = "SUM", inplace = True, ascending = False)
master.head(30)

,Salary,Safety,Life Expectancy,Days Off,Safety points,Days Off points,Life Expectancy points,Salary points,English points,German points,SUM
Country,,,,,,,,,,,
Iceland,11,1,6,26,20,13.5,13.0,19.0,18.0,12.0,95.5
Denmark,3,5,27,23,20,13.5,10.4,19.0,18.0,12.0,92.9
New Zealand,10,2,17,67,20,9.0,11.7,19.0,18.0,0.0,77.7
Australia,16,13,4,73,18,7.5,13.0,17.1,18.0,0.0,73.6
Austria,31,4,18,16,20,13.5,11.7,15.2,0.0,12.0,72.4
Switzerland,1,10,2,95,20,6.0,13.0,19.0,0.0,12.0,70.0
Singapore,6,7,3,159,20,0.0,13.0,19.0,18.0,0.0,70.0
Canada,22,6,12,117,20,3.0,13.0,15.2,18.0,0.0,69.2
Ireland,40,12,19,82,18,7.5,11.7,13.3,18.0,0.0,68.5
United Kingdom,9,45,20,84,12,6.0,11.7,19.0,18.0,0.0,66.7
Belgium,23,18,21,71,18,7.5,11.7,15.2,0.0,12.0,64.4
Cyprus,48,48,28,37,12,12.0,10.4,11.4,18.0,0.0,63.8
Kuwait,33,43,76,2,12,15.0,5.2,13.3,18.0,0.0,63.5
Germany,17,22,24,76,16,7.5,10.4,17.1,0.0,12.0,63.0
Qatar,26,31,35,106,14,4.5,10.4,15.2,18.0,0.0,62.1
Italy,39,39,7,59,14,9.0,13.0,13.3,0.0,12.0,61.3
Oman,21,69,48,68,8,9.0,7.8,17.1,18.0,0.0,59.9
Panama,78,47,38,10,12,15.0,9.1,5.7,18.0,0.0,59.8
United Arab Emirates,35,53,43,58,10,9.0,9.1,13.3,18.0,0.0,59.4
Finland,14,14,22,28,18,12.0,11.7,17.1,0.0,0.0,58.8
Norway,7,20,15,29,16,12.0,11.7,19.0,0.0,0.0,58.7
Sweden,19,19,9,45,18,10.5,13.0,17.1,0.0,0.0,58.6
Luxembourg,5,404,13,7,0,15.0,11.7,19.0,0.0,12.0,57.7
Netherlands,18,17,14,83,18,7.5,11.7,17.1,0.0,0.0,54.3
Bahrain,44,124,45,8,0,15.0,9.1,11.4,18.0,0.0,53.5
Mauritius,151,25,78,17,16,13.5,5.2,0.0,18.0,0.0,52.7
Malta,72,404,16,12,0,15.0,11.7,7.6,18.0,0.0,52.3
Japan,4,9,1,185,20,0.0,13.0,19.0,0.0,0.0,52.0
France,12,60,10,27,8,13.5,13.0,17.1,0.0,0.0,51.6
Greece,66,65,25,80,8,7.5,10.4,7.6,18.0,0.0,51.5

In [15]:
print column_list

['Safety points', 'Days Off points', 'Life Expectancy points', 'Salary points', 'English points', 'German points']

In [30]:
master.drop(["Polish points"], axis =1, inplace = True)
#master.sort_values(by ="SUM", inplace =True, ascending = False)
#master.head(20)

#cool! now work on the languages

In [32]:
master["SUM"] = master[column_list].sum(axis=1)
master.head()

KeyError: "['Polish points'] not in index"

In [35]:
pts_df.head()

,Safety points,Days Off points,Life Expectancy points,Salary points,English points
Country,,,,,
Switzerland,20,6.0,13.0,19.0,0
United States,0,0.0,10.4,19.0,15
Denmark,20,13.5,10.4,19.0,15
Japan,20,0.0,13.0,19.0,0
Luxembourg,0,15.0,11.7,19.0,0

In [210]:
taxes = pd.read_csv("scrapers/taxes.csv", delimiter = ';', header = None, index_col = False)
taxes.sort_values(by = 2, ascending = True, inplace = True)
taxes.drop(columns = 0, inplace = True)
taxes.reset_index(drop = True, inplace = True)
taxes.rename(columns = {1: "Country", 2: "Income Tax"}, inplace = True)
taxes.head(10)

                Country  Income Tax
0  United Arab Emirates         0.0
1               Bahamas         0.0
2               Bahrain         0.0
3               Bermuda         0.0
4                Brunei         0.0
5          Saudi Arabia         0.0
6                Kuwait         0.0
7                  Oman         0.0
8                 Qatar         0.0
9        Cayman Islands         0.0

In [157]:
master_add("Income Tax", taxes)
master.head()

KeyError: 'Country'

In [ ]:
'''
ideas for distribution:
1. points
    100 points in total
    by choosing which category is more important -> that category gets more points
    then in each category can assign the points by choice:
            eg. if max 10 points to distribute
                    1-10: 10
                    10-20: 8
                    
                    .. etc (Nan's get 0 - but need to make sure which ones are actually NaN - manual inspection)
                    
                    if some category worth X points:
                    1 - 10: x
                    10 - 20: 0.9x
                    20 - 30: 0.8x
                    30 - 40: 0.7x
                    40 - 50: 0.6x
                    50 - 100: 0.5x
                    100 - 150: 0.3x
                    150+ : 0?
                    
            but it should be different dependent on the category
            e.g. the differences in the income tax are not significant between 110th and 150th i think
                    

next phases of work:
    * reading the remaining csv's
        distance from home is still an important functionality that's missing
    * experimenting with the basic functionality
            need to inspect manually the values first, before assigning the points
        btw remember that salary is the only column that changes - the rest can just be generated and re-loaded
    --> writing a GUI!
    ~ replace some methods with MAP
    
    
to fix/edit: 
    -case when langauge / feature already added - make sure you ignore then
    - when dropping a feature, needs to be removed from the col_list as well
    - 0 & 404 when country not found - decide on one
'''

In [15]:
#countring the ones that are 404
saf_null = master[master["Safety"] == 404].count()
life_exp_null = master[master["Life Expectancy"] == 404].count()
days_off_null = master[master["Days Off"] == 404].count()

print saf_null, life_exp_null, days_off_null

Country            92
Salary             92
Safety             92
Life Expectancy    92
Days Off           92
dtype: int64 Country            68
Salary             68
Safety             68
Life Expectancy    68
Days Off           68
dtype: int64 Country            61
Salary             61
Safety             61
Life Expectancy    61
Days Off           61
dtype: int64

In [11]:
print column_list

['Safety points', 'Days Off points', 'Life Expectancy points', 'Salary points']